<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>

<p>
  <strong>License:</strong>
  <%= @vehicle.license %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer_id %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
<%= link_to 'Customers', customers_path %>
